

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.button-container {
    display: flex;
    flex-wrap: nowrap; /* Prevent buttons from wrapping to the next line */
    overflow-x: auto; /* Add horizontal scrolling for small screens when necessary */
  }
  
  .button-container button {
    flex: 0 0 auto; /* Allow buttons to maintain their original size */
    white-space: nowrap; /* Prevent button text from wrapping */
  }
  
